[default]

#file to copy from root dir to each student directory
files_to_copy = "template.txt", "config.cfg", "correct_answer.txt"

#the files to compile. Make sure the order is correct
files_to_compile = "Calculator.java", "LemonadeStand.java"

#which files to run using java. Can duplicate files to run multiple times.
files_to_run = "", ""

#arguments to files above
files_arguments = "", ""

#std in to files above
files_input = "", ""

#the file that has the correct answer for any text questions
correct_output_file = "correct_answer.txt"
